.container{
    padding: 10px;
    margin-left: 10px;
    list-style-type: none;
    display: inline-flex;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif; 
    color:red;
    
}
h1{
    text-align: 50px;
}
p{
    text-indent: 30px;
}
nav{
    background: linear-gradient(to bottom, #ffffcc, #ffcc33);
    background-color: darkgreen;
    padding:5;
    font-size:large;

}
nav ul{
list-style-type: none;
text-decoration: none;
}
nav ul li{
    display:inline;
    padding:5;
    text-align: right;
    font-size: 25px;
}
nav ul li a{
    color:white;
    text-decoration: none;
}

nav ul li a:hover{
    color:green;
    text-decoration: underline;
}

rk2{
    float: left;
    text-indent: 10px;
    padding: 0 30px;
    height: 30px;

}
#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid #5d12e7;
    font-size: 22px;
    
}
#menu{
    height: 60px;
    background-color: lightgreen;
    
    padding: 7px 0;
}
ul{
    list-style: none;   
}
#menu ul li:last-child{
    border-right: none;   
}
.appointment {
    background: linear-gradient(red,brown);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px; /* Rounded corners */
    position: absolute;
    right: 20px;
    top: 120px;

}
.appointment:hover {
    background-color: darkred;
}
.image{
    background-image: url("1.png");
    background-size: cover;
    background-repeat: no-repeat;

}
.background {
    width: 100%; 
    height: 700px; 
    background-image: url('1.png');

    background-size: cover; 
    background-position: center;
  }
  .background1 {
    width: 100%; 
    height: 700px; 
    background-image: url('endolifehospital.png');
    margin-left: 10px;
    background-size: cover; 
    background-position: center;
  }

  .background2 {
    width: 100%; 
    height: 800px; 
    background-image: url('7.png');

    background-size: cover; 
    background-position: center;}
    .background3 {
        width: 100%; 
        height: 140%; 
        background-image: url('21.jpg');
    
        background-size: cover; 
        background-position: center;}
    .head1{
        text-align: center;
        padding-top: 10%;
        font-size: 25px;
    }
    .head2{
        text-align: center;
        font-size: 25px;
    }
  
  .footer{
    background: linear-gradient(#F6F390, #D5D533);
    padding: 5px ;
}
.footer1{
    background: linear-gradient(blue,violet);
    padding: 5px ;
}
.header{
    margin-left: 20px;
    font-size:large;
    padding-top: 10%;
}
section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.one{
    width: 50%; /* adjust to desired width */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* center the container */
  }
.container1{
    padding: 70px 350px 350px 10px;
    margin-right: 10px;
    background-image: url("picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
header{
    margin-left: 35px;
    float: left;
}

.content{
    float: left;
    padding: 10px 10px 10px 10px;
    margin: left;
}
.head{
    box-sizing: border-box;
	color: #0094A4;
	display: inline-block;
	font-family: Mosk-Bold;
	font-size: 30px;
	font-weight: 800;
	line-height: 40px;
	text-align: left;
}
.team{
    padding: 10px 10px 10px 10px;
    background-color: #111214;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: px;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

td:first-child {
    width: 20%;
}

td:nth-child(2) {
    width: 50%;
}

td:last-child {
    width: 30%;
}
th{
    width: 14.5%;
    border-collapse: collapse;
    margin-top: 20px;
}
